## Day 20 作業：將 missing 值替代為其他值

由於現實世界中的資料可能有缺漏，因此資料中就會有 missing 值存在，而在資料科學及機器學習中，缺漏值的處理關係到分析或預測的結果。

在今天的作業中，請將資料集中的年齡缺漏值，依性別分別替換為資料集中男性或女性的年齡平均值。

本次作業使用的資料集：Kaggle Titanic: Machine Learning from Disaster 的 train 資料集

競賽主頁：[https://www.kaggle.com/c/titanic/overview](https://www.kaggle.com/c/titanic/overview)

請自行下載資料集 **train.csv**：[https://www.kaggle.com/c/titanic/data](https://www.kaggle.com/c/titanic/data)

In [1]:
using DataFrames, CSV

In [2]:
df = CSV.read("train.csv")

891×12 DataFrame. Omitted printing of 9 columns
│ Row │ PassengerId │ Survived │ Pclass │
│     │ Int64       │ Int64    │ Int64  │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
⋮
│ 881 │ 881         │ 1        │ 2      │
│ 882 │ 882         │ 0        │ 3      │
│ 883 │ 883         │ 0        │ 3      │
│ 884 │ 884         │ 0        │ 2      │
│ 885 │ 885         │ 0        │ 3      │
│ 886 │ 886         │ 0        │ 3      │
│ 887 │ 887         │ 0        │ 2      │
│ 888 │ 888         │ 1        │ 1      │
│ 889 │ 889         │ 0        │ 3      │
│ 890 │ 890         │ 1        │ 1      │
│ 891 │ 891         │ 0        │ 3      │

In [3]:
size(df)

(891, 12)

呼叫 `describe()` 函式時，加上 `:nmissing` 參數，顯示各 column 的 missing 值數目。

可以看到 Age 共有 177 個缺漏值。

In [4]:
describe(df, :nmissing)

12×2 DataFrame
│ Row │ variable    │ nmissing │
│     │ Symbol      │ Union…   │
├─────┼─────────────┼──────────┤
│ 1   │ PassengerId │          │
│ 2   │ Survived    │          │
│ 3   │ Pclass      │          │
│ 4   │ Name        │          │
│ 5   │ Sex         │          │
│ 6   │ Age         │ 177      │
│ 7   │ SibSp       │          │
│ 8   │ Parch       │          │
│ 9   │ Ticket      │          │
│ 10  │ Fare        │          │
│ 11  │ Cabin       │ 687      │
│ 12  │ Embarked    │ 2        │

計算男性及女性的平均年齡。

【提示】使用 `skipmissing()` 去掉缺漏值後，再計算平均值。

In [5]:
mdf=groupby(df[df.Sex .== "male", :], :Age)

GroupedDataFrame with 83 groups based on key: Age
First Group (15 rows): Age = 22.0. Omitted printing of 8 columns
│ Row │ PassengerId │ Survived │ Pclass │ Name                              │
│     │ Int64       │ Int64    │ Int64  │ String                            │
├─────┼─────────────┼──────────┼────────┼───────────────────────────────────┤
│ 1   │ 1           │ 0        │ 3      │ Braund, Mr. Owen Harris           │
│ 2   │ 61          │ 0        │ 3      │ Sirayanian, Mr. Orsen             │
│ 3   │ 81          │ 0        │ 3      │ Waelens, Mr. Achille              │
│ 4   │ 113         │ 0        │ 3      │ Barton, Mr. David John            │
│ 5   │ 213         │ 0        │ 3      │ Perkin, Mr. John Henry            │
│ 6   │ 226         │ 0        │ 3      │ Berglund, Mr. Karl Ivar Sven      │
│ 7   │ 244         │ 0        │ 3      │ Maenpaa, Mr. Matti Alexanteri     │
│ 8   │ 288         │ 0        │ 3      │ Naidenoff, Mr. Penko              │
│ 9   │ 321         │ 0        │ 3      │ Dennis, Mr. Samuel                │
│ 10  │ 374         │ 0        │ 1      │ Ringhini, Mr. Sante               │
│ 11  │ 396         │ 0        │ 3      │ Johansson, Mr. Erik               │
│ 12  │ 479         │ 0        │ 3      │ Karlsson, Mr. Nils August         │
│ 13  │ 522         │ 0        │ 3      │ Vovk, Mr. Janko                   │
│ 14  │ 554         │ 1        │ 3      │ Leeni, Mr. Fahim ("Philip Zenni") │
│ 15  │ 589         │ 0        │ 3      │ Gilinski, Mr. Eliezer             │
⋮
Last Group (1 row): Age = 74.0. Omitted printing of 7 columns
│ Row │ PassengerId │ Survived │ Pclass │ Name                │ Sex    │
│     │ Int64       │ Int64    │ Int64  │ String              │ String │
├─────┼─────────────┼──────────┼────────┼─────────────────────┼────────┤
│ 1   │ 852         │ 0        │ 3      │ Svensson, Mr. Johan │ male   │

In [6]:
fdf=groupby(df[df.Sex .== "female", :], :Age)

GroupedDataFrame with 64 groups based on key: Age
First Group (5 rows): Age = 38.0. Omitted printing of 9 columns
│ Row │ PassengerId │ Survived │ Pclass │
│     │ Int64       │ Int64    │ Int64  │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 2           │ 1        │ 1      │
│ 2   │ 26          │ 1        │ 3      │
│ 3   │ 62          │ 1        │ 1      │
│ 4   │ 358         │ 0        │ 2      │
│ 5   │ 717         │ 1        │ 1      │
⋮
Last Group (1 row): Age = 56.0. Omitted printing of 9 columns
│ Row │ PassengerId │ Survived │ Pclass │
│     │ Int64       │ Int64    │ Int64  │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 880         │ 1        │ 1      │

In [9]:
mmdf = mdf[!, 6]

MethodError: MethodError: no method matching getindex(::GroupedDataFrame{DataFrame}, ::typeof(!), ::Int64)
Closest candidates are:
  getindex(::GroupedDataFrame, !Matched::Integer) at C:\Users\Marc Juang\.julia\packages\DataFrames\S3ZFo\src\groupeddataframe\grouping.jl:194
  getindex(::GroupedDataFrame, !Matched::AbstractArray{T,N} where N) where T<:Integer at C:\Users\Marc Juang\.julia\packages\DataFrames\S3ZFo\src\groupeddataframe\grouping.jl:199
  getindex(::GroupedDataFrame, !Matched::Colon) at C:\Users\Marc Juang\.julia\packages\DataFrames\S3ZFo\src\groupeddataframe\grouping.jl:213
  ...

In [ ]:
ffdf= fdf[!, 6]

In [7]:
using Statistics

In [10]:
male_age_avg = mean(skipmissing(df[df.Sex .=="male", :Age]))

30.72664459161148

In [11]:
female_age_avg = mean(skipmissing(df[df.Sex .=="female", :Age]))

27.915708812260537

將 Age column 中的 missing 值，依性別替換為上面計算出來的平均年齡值。

【提示】可產生新的 column 來存放新的結果，而不取代掉原先的 Age column。

In [12]:
# 請輸入程式碼
df.new_Age = map(eachrow(df)) do r
    if (r.Sex == "male") & (ismissing(r.Age)) 
        Age = male_age_avg
    elseif (r.Sex == "female") & (ismissing(r.Age))
        Age = female_age_avg
    else
        Age = r.Age
    end
end

891-element Array{Float64,1}:
 22.0
 38.0
 26.0
 35.0
 35.0
 30.72664459161148
 54.0
  2.0
 27.0
 14.0
  4.0
 58.0
 20.0
  ⋮
 56.0
 25.0
 33.0
 22.0
 28.0
 25.0
 39.0
 27.0
 19.0
 27.915708812260537
 26.0
 32.0